*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #D9C6B0;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 4.125rem;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #F2E3D5;;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 4.125rem;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #D9C6B0;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

/*BODY*/

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*CONTENT*/

.content-area{
    width: 100%;
    height: auto;
    min-height: 50rem;
    position: relative;
    background: #F2EFEB;
    top: 22rem;
    opacity:100%; 
}
.content-area h2{
    font-size: 2.5rem;
    margin: 0;
    padding-top: 1.875rem;
    letter-spacing: 0.25rem;
}

.content-area h3{
    font-size: 1.75rem;
    margin: 0;
    padding-top: 1.875rem;
    letter-spacing: 0.125rem; 
}
.content-area p{
    padding: 1% 0;
    line-height: 1.875rem;
    text-align: justify;
    font-size: 1.15rem;
}

.content-area ul{
    padding: 1% 0%;
    line-height: 1.875rem;
    text-align: justify;
    font-size: 1.15rem;
}

.banner-area{
    background-image: url('Photos/mapledojobanner.jpg');
    background-size: cover;
    background-position: center center;
    top: 4rem;
    height: 60vh;
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: 31.25rem){
  .banner-area{
    background-image: url('Photos/bannerlogosmall.jpg');
    background-size: cover;
    background-position: center center;
    top: 4rem;
    height: 60vh;
    width: 100%;
    position: fixed;
  }
}

.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
}

.banner-area h2{
    padding-top: 8%;
    font-size: 4.5rem;
    color: #FFFFFD;
}

img{
    content: '';
    position: relative;
    top:0;
    display: block;
    max-width: 80%;
}

.wrapper{
    width: 100%;
    margin:0 auto;
}
.wrapper-body{
    width: 90%;
    margin:0 auto;
}

      input[type=email] {
        width: 20%;
        padding: 0.3125rem; 
        border: 0.125rem solid #ccc; 
        -webkit-border-radius: 5px;
        border-radius: 0.3125rem;
    }
    
    input[type=text] {
        width: 20%;
        padding: 0.3125rem; 
        border: 0.125rem solid #ccc; 
        -webkit-border-radius: 5px;
        border-radius: 0.3125rem;
    }
    
    .button {
      display: inline-block;
      padding: 0.5rem 1.25rem;
      font-size: 1.125rem;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: black;
      background-color: #3D847E;
      border: none;
      border-radius: 0.9375rem;
      box-shadow: 0 0.5625rem #DECFBD;
    }
    
    .button:hover {background-color: #DECFBD}
    
    .button:active {
      background-color: #B4DCED;
      box-shadow: 0 0.3125rem #E3908C;
      transform: translateY(0.25rem);
    }


.imginstructors{
    width: 20%;
    content: '';
    position: relative;
    display: block;
}
